#widget-container {
  height: 100%; }
  #widget-container h2 {
    color: var(--theia-ui-font-color1);
    font-size: 12px;
    font-weight: 400;
    padding: 10px;
    text-transform: uppercase;
    height: 100%; }

.wysiwyg {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%; }
  .wysiwyg .main-workspace {
    height: 96%; }
  .wysiwyg .elements-list {
    width: 25%;
    background: #546e7a; }
  .wysiwyg .workspace {
    width: 75%;
    background: #100110; }

.main-workspace {
  position: relative; }
  .main-workspace .draggable-image {
    margin: 0;
    display: inline-block; }

.elements-list {
  box-sizing: border-box;
  padding: 8px; }

.list-item {
  display: flex;
  flex-direction: row;
  background: #6c6c6c;
  border: #000000;
  padding: 4px;
  margin-bottom: 8px;
  user-select: none;
  position: relative; }
  .list-item__labels {
    display: flex;
    flex-direction: column; }
  .list-item__title {
    font-size: 22px;
    color: #100110;
    font-weight: bold; }
  .list-item__properties {
    font-size: 18px; }
  .list-item__indicator {
    position: relative;
    margin-left: auto; }
