#widget-container {
  height: 100%; }
  #widget-container h2 {
    color: var(--theia-ui-font-color1);
    font-size: 12px;
    font-weight: 400;
    padding: 10px;
    text-transform: uppercase;
    height: 100%; }

.wysiwyg {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%; }
  .wysiwyg .main-workspace {
    height: 96%; }
  .wysiwyg .elements-list {
    width: 25%;
    background: #546e7a; }
  .wysiwyg .workspace {
    width: 75%;
    background: #232323; }

.main-workspace {
  position: absolute;
  height: 100%;
  width: 100%; }
  .main-workspace .draggable-image {
    position: absolute;
    margin: 0;
    display: inline-block; }
  .main-workspace .indicator {
    position: absolute; }

.elements-list {
  box-sizing: border-box;
  padding: 8px; }

.properties-list {
  position: absolute;
  z-index: 500;
  left: 0;
  width: 300px; }
  .properties-list table {
    width: 100%;
    height: 100%; }
  .properties-list table, .properties-list th, .properties-list td {
    border: 1px solid #525252;
    border-collapse: collapse; }
  .properties-list th {
    background-color: #202020;
    height: 30px; }
  .properties-list td {
    background-color: #242424;
    height: 30px; }
  .properties-list .property-th {
    width: 40%; }
  .properties-list .property-td {
    text-align: center; }
  .properties-list .value-td {
    padding-left: 5px; }
  .properties-list .value {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center; }
  .properties-list .pencil {
    margin-left: auto;
    margin-right: 10px; }

.list-item {
  display: flex;
  flex-direction: row;
  background: #6c6c6c;
  border: #000000;
  padding: 4px;
  margin-bottom: 8px;
  user-select: none;
  position: relative; }
  .list-item__labels {
    display: flex;
    flex-direction: column; }
  .list-item__title {
    font-size: 22px;
    color: #100110;
    font-weight: bold; }
  .list-item__properties {
    font-size: 18px; }
  .list-item__indicator {
    position: relative;
    margin-left: auto;
    display: flex;
    align-items: center; }

.drag-handler {
  cursor: move; }

.dropdown {
  visibility: hidden;
  position: absolute;
  top: 100px;
  left: 100px;
  z-index: 1000;
  width: 150px;
  height: 300px;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.6); }
  .dropdown__content {
    display: flex;
    flex-direction: column; }
  .dropdown__item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 100%; }
    .dropdown__item:hover {
      background-color: #e6e6e6; }
