.main-workspace {
  position: absolute;
  height: 100%;
  width: 100%; }
  .main-workspace .draggable-image {
    margin: 0;
    display: inline-block; }
  .main-workspace .indicator {
    position: absolute; }
