#widget-container {
  height: 100%;

  h2 {
    color: var(--theia-ui-font-color1);
    font-size: 12px;
    font-weight: 400;
    padding: 10px;
    text-transform: uppercase;
    height: 100%;
  }
}

@import 'Wysiwyg';
@import 'MainWorkspace';
@import 'ElementList';
@import 'PropertiesList';
@import 'ListItem';