.main-workspace {
  position: absolute;
  height: 100%;
  width: 100%;

  .draggable-image {
    position: absolute;
    margin: 0;
    display: inline-block;
  }

  .indicator{
    position: absolute;
  }
}